.container{
    width: 576px;
    height: 100%;
    display: grid;
    column-gap: 16px;
    grid-template-areas: 
        'title title'
        'img info';
    grid-template-columns: 365px 1fr;
}

.title{
    grid-area: title;
    justify-self: center;
}

.img{
    grid-area: img;
    justify-self: flex-start;
}

.info{
    grid-area: info;
    justify-self: flex-start;
}

@media screen and (max-width: 768px){
    .container{
        width: 365px;
        row-gap: 16px;
        grid-template-areas: 
            'title'
            'img'
            'info';
        grid-template-columns: 365px;
    }
}